/* src/components/Contact.css */

.contact {
  text-align: center;
  padding: 50px 20px;
  background-color: whitesmoke;
}

h2 {
  font-size: 35px;
  margin-bottom: 20px;
  border-bottom: 1px solid red;
}

.business-card {
  margin-bottom: 20px;
}

.business-card img {
  width: 100%;
  max-width:500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.social-icons {
  margin-top: 20px;
  background-color: black;
  width: fit-content;
  margin: 0 auto; /* Center the social icons horizontally */
  padding: 10px; /* Add some padding for better spacing */
  border-radius: 10px; /* Optional: Add rounded corners */
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
}

.social-icons i {
  font-size: 15px;
}

@media (max-width: 576px) {
  h2 {
    font-size: 30px;
  }

  .social-icons {
    padding: 10px 5px;
  }

  .image-container img {
    max-width: 100%; /* Adjust the image width for small screens */
  }
}
